body {
	font-family: 'Merriweather Sans', sans-serif;
}

::selection {
	background: rgb(159, 231, 249);
	color: rgb(105, 83, 230);
}

.space-grotesk {
	font-family: 'Space Grotesk', sans-serif;
}

.caveat {
	font-family: 'Caveat', sans-serif;
}

@media (min-width: 768px) {
	.glow {
		text-shadow: 5px 5px 25px #757575, 0px 0px 20px #614ad3;
	}

	.glow-red {
		text-shadow: 5px 5px 25px #757575, 0px 0px 20px #c64653;
	}

	.glow-green {
		text-shadow: 5px 5px 25px #757575, 0px 0px 20px #5bc461;
	}

	.glow-box {
		box-shadow: 5px 5px 25px #757575, 0px 0px 20px #614ad3;
	}

	.glow-box-red {
		box-shadow: 5px 5px 25px #757575, 0px 0px 20px #c64653;
	}

	.glow-box-lang {
		box-shadow: 5px 5px 25px #757575, 0px 0px 20px rgb(205, 21, 104);
	}

	.glow-box-contact {
		box-shadow: 5px 5px 25px #757575, 0px 0px 20px rgb(21, 205, 33);
	}
}

.slide-in {
	animation: slide-in-right 0.5s forwards;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.image-wrapper::before {
	content: '';
	position: absolute;
	top: -2px; /* Adjust based on desired offset */
	left: -2px; /* Adjust based on desired offset */
	width: calc(100% + 4px); /* Adjust based on desired offset */
	height: calc(100% + 4px); /* Adjust based on desired offset */
	border: 4px dashed #aaabef;
	border-radius: 50%;
	animation: spin 100s linear infinite;
}

.image-wrapper img {
	position: relative;
	z-index: 1;
}

.hithere {
	display: inline-block;
	animation: hithere 2s;
	animation-iteration-count: 1;
}
@keyframes hithere {
	30% {
		transform: scale(1.2);
	}
	40%,
	60% {
		transform: rotate(-20deg) scale(1.2);
	}
	50% {
		transform: rotate(20deg) scale(1.2);
	}
	70% {
		transform: rotate(0deg) scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
